@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

body {
  background-color: #f7fcff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(38, 148, 221);
  margin-top: 100px;
}

h1,
h2 {
  color: rgb(38, 148, 221);
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-image: linear-gradient(to left, rgb(38, 148, 221), rgb(130, 205, 255));
  align-items: center;
  height: 7%;
  width: 100%;
  top: 0;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.navbar .options {
  list-style: none;
  display: flex;
  margin-right: 10px;
}
.navbar .options a {
  text-decoration: none;
  color: black;
}
.navbar .options a:visited {
  color: black;
}
.navbar .options a:hover {
  color: #ecf6fc;
}
.navbar .options li {
  margin: 0 10px 0 10px;
}
.navbar .home {
  text-decoration: none;
  color: black;
}
.navbar .home:visited {
  color: black;
}
.navbar .home:hover {
  color: #ecf6fc;
}
.navbar .name {
  font-family: "Major Mono Display", monospace;
  font-size: 25px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.navbar .name .logo {
  width: 40px;
  margin: 0 10px 0 13px;
}
.navbar #menu-toggle {
  visibility: hidden;
}
.navbar .menu-button {
  visibility: hidden;
}

main {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}
main .container {
  display: flex;
  margin-top: 110px;
  align-items: center;
  justify-content: center;
}
main .container p {
  font-size: 25px;
}
main .container .pro-pic {
  max-height: 350px;
  border-radius: 50%;
}
main .container .text {
  max-width: 450px;
  margin: 5px 30px 0 10px;
}

article {
  margin-top: 295px;
  border-top: 1px solid rgb(38, 148, 221);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
article #bio {
  max-width: 700px;
  background-color: #e4f1fb;
  border-radius: 7px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  margin: 40px 10px 100px 10px;
}
article #bio p {
  font-size: 17px;
  line-height: 23px;
  margin: 0 10px 10px 10px;
}
article #bio p a {
  text-decoration: none;
  color: #36aeff;
}
article #bio h2 {
  margin: 10px 0 0 10px;
}
article .bio-pic {
  max-height: 300px;
  margin-left: 10px;
}

footer {
  background-image: linear-gradient(to bottom, rgb(38, 148, 221), #52aae4);
  border: 1px solid rgb(38, 148, 221);
  margin-top: 80px;
}

#contacts {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-around;
}
#contacts .fa {
  display: flex;
  justify-content: center;
  padding: 15px 15px;
  font-size: 35px;
  text-align: center;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  transition: opacity 0.2s;
  margin-bottom: 10px;
}
#contacts .fa:hover {
  opacity: 0.8;
}
#contacts .fa-facebook {
  background: #3B5998;
  padding: 15px 20px;
  display: inline;
}
#contacts .fa-instagram {
  background-color: #125688;
}
#contacts .fa-linkedin {
  background-color: #007bb5;
}
#contacts .fa-github {
  background-color: #333;
}
#contacts .fa-envelope {
  background-color: #c71610;
  font-size: 30px;
}

section {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .skills {
  max-width: 700px;
  background-color: #e4f1fb;
  border-radius: 7px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  margin: 0 10px 0 10px;
}
section .skills .skills-html-css {
  max-height: 100px;
  margin: 10px 15px 10px 10px;
}
section .skills .bootstrap {
  max-height: 85px;
  margin: 10px 0 10px 0;
}
section .skills .java {
  max-height: 110px;
  opacity: 30%;
  margin: 0 0 6px 0;
}
section .skills h2 {
  margin: 10px 0 0 10px;
}
section .skill-list {
  max-height: 300px;
  margin: 0 0 10px 10px;
}
section .coming-soon {
  position: relative;
  display: inline-block;
}
section .coming-soon p {
  position: absolute;
  top: 50px;
  left: 25px;
  color: rgb(130, 205, 255);
  font-weight: bold;
  text-align: center;
}

@media (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }
  .container .text {
    margin-top: 30px;
  }
  article,
  section {
    flex-direction: column-reverse;
    border-top: none;
  }
}
@media (max-width: 520px) {
  .bio-pic {
    height: 175px;
  }
}
@media (max-width: 480px) {
  .options {
    flex-direction: column;
    padding: 20px;
    position: absolute;
    top: 56px;
    background-color: rgb(38, 148, 221);
    width: 100%;
    visibility: collapse;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  }
  .options a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #68b5e7;
  }
  .options a:active, .options a:hover {
    background-color: rgb(130, 205, 255);
  }
  .menu-button-container {
    padding: 15px;
    cursor: pointer;
  }
  .menu-button-container .menu-button {
    font-size: 23px;
    visibility: visible;
  }
  #menu-toggle:checked ~ .options {
    visibility: visible;
  }
  /*main*/
  .container .pro-pic {
    height: 250px;
  }
  #contacts {
    flex-wrap: wrap;
    align-items: center;
  }
  #contacts .fa {
    margin: 10px;
  }
}/*# sourceMappingURL=style.css.map */