footer {
   background-color: $primary-color;
   border: 1px solid $primary-color;
  
  
}
#contacts {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-around;
    
    

    .fa {
        display: flex;
        justify-content: center;
        padding: 20px 20px;
        font-size: 35px;
        
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        color: white;
        transition: opacity .2s;
        margin-bottom: 10px;
       

        &:hover {
            opacity: 0.8; 
        }

        &-facebook {
            background: #3B5998;
            padding: 20px 25px;
            display: inline;
        }

        &-instagram {
            background-color: #125688;
        }

        &-linkedin {
            background-color: #007bb5;
        }

        &-github {
            background-color: #333;
        }

        &-envelope {
            background-color: #c71610;
            font-size: 33px;
        }

    
    }
}