section {
    margin-top:10px;
    
    height: 500px;
    //background-image:linear-gradient(to bottom, lighten($secondary-color, 7%), $primary-color);
    display: flex;
    justify-content: center;
    align-items: center;

    .curriculum {
        max-width: 1500px;
        background-color: lighten($primary-color, 43% );
        border-radius: 7px;
        box-shadow:   4px 4px 3px rgba(0, 0, 0, .3);
        margin: 0 10px 100px 10px;

        
        p {
            font-size: 17px;
            line-height: 23px;
            margin: 0 10px 10px 10px;
        }

        h2 {
            margin: 10px 0 0 10px;
        }
    }
}