#first {
    margin-top:170px;
    display: flex;
    justify-content: center;
    align-items: center;

    #skills {
        max-width: 700px;
        background-color: lighten($primary-color, 43% );
        border-radius: 7px;
        box-shadow:   4px 4px 3px rgba(0, 0, 0, .3);
        margin: 0 10px 0 10px;
        

        
        .skills-html-css {
            max-height: 100px;
            margin: 10px 15px 10px 10px;
        }

        .bootstrap {
            max-height: 85px;
            margin: 10px 0 10px 0;
        }

       .java {
        max-height: 110px;
        opacity: 30%;
        margin: 0 0 6px 0;
        

       }

        h2 {
            margin: 10px 0 0 10px;
        }

        
    }

    .skill-list {
        max-height: 300px;
        margin: 0 0 10px 10px;
    }

    .coming-soon {
        position: relative;
        display: inline-block;

        p {
            position: absolute;
            top: 50px;
            left: 25px;
            color: $secondary-color;
            font-weight: bold;
            text-align: center;
            
        }
        
    }
}

#title-second {
    margin-top: 200px;
    display:flex ;
    justify-content: center;
    border-top: 1px dashed $primary-color;

    h2 {
        margin-top: 20px;
    }
}


.second {
    margin-top:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    


    .project-1,
    .project-soon {
        max-width: 700px;
        background-color: lighten($primary-color, 43% );
        border-radius: 7px;
        box-shadow:   4px 4px 3px rgba(0, 0, 0, .3);
        margin: 20px 10px 0 10px;
        
    }

    .mobile-1,
    .desktop-1 {
        max-height: 250px;
        margin: 10px 10px 5px 10px;
    }

    p {
        margin: 0 10px 10px 10px;
    }

    .placeholder {
        padding: min(14vh, 8.2rem);

        p {
            color: $secondary-color;
            font-weight: bold;
            font-size: 22px; 
        }
    }
}

.end {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;

    .end-pic {
        max-height: 200px;
    }
}