$primary-color: rgb(38, 148, 221);
$secondary-color:rgb(157, 187, 207)  ;
$font:Raleway;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
 


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

@import "navbar";
@import "body";