@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

$primary-color: rgb(38, 148, 221);
$secondary-color:rgb(130, 205, 255)  ;
$font:Raleway;


 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

html {
    scroll-behavior: smooth;
  }
  

body {
    background-color: lighten($secondary-color,23%)
   
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color:$primary-color;
    margin-top: 100px
}

h1,
h2 {
    color: $primary-color;
}




@import "navbar";
@import "index";
@import "contacts";
@import "projects";
@import "media-queries";